@page {
    size: letter portrait;
    margin: 0;
}

@counter-style dots {
    system: cyclic;
    symbols: "\2022";
    suffix: " ";
}

* {
    box-sizing: border-box;
    font-family: "lato", sans-serif;
    font-weight: 300;
}

body {
    background-color: darkgrey;
    font-size: 12pt;
}

code {
    font-size: 0.9em;
    font-family: "input-sans-narrow";
    font-weight: 200;
    line-height: 1.2em;
}

a {
    font-family: "input-sans-narrow";
    font-size: 0.9em;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 1.2em;
    color: black;
    text-decoration: none;
}

address {
    font-style: normal;
}

main {
    height: 11in;
    width: 8.5in;
    margin: auto;
    background-color: white;
}

header {
    padding: 0.25in 0 0;
    margin: 0 2em 0.5em;
}

header h1 {
    font-family: "ff-tisa-web-pro";
    font-weight: 600;
    margin: 0;
}

header p {
    margin: 0;
}

aside {
    float: right;
    margin: 0 1em;
    padding: 0 1em;
    background-color: #f0f0f0;
}

aside section {
    font-size: 11pt;
}

aside section h1 {
    font-weight: 400;
    text-transform: uppercase;
}

aside ul {
    list-style: none;
    padding-left: 0;
}

aside .link {
    font-size: 10pt;
    margin-top: 16em;
}

article {
    margin: 0 2em;
}
article h1 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.5em 0;
}

article time {
    position:relative;
    float: left;
    width: 0.4in;
    text-align: center;
    top: 3pt;
    left: -0.6in;
    margin-right: -0.6in;
    font-size: 9pt;
}

article div {
    margin: 0.5em 0.5in;
    padding-left: 0.1in;
    border-left: 1px solid #ccc;
}
article h2 {
    display: inline;
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 1em;
}

article h3::before {
    content: '— ';
}
article h3 {
    display: inline;
    font-size: 10pt;
}

article address {
    display: inline;
    float: right;
    padding-top: 1pt;
    font-size: 10pt;
    font-weight: 300;
}

article p {
    margin: 0;
}

article ul {
    font-size: 11pt;
    margin: 0.2em 0 0.5em;
    padding-left: 8pt;
}
article li {
    list-style-type: "· ";
}

article a {
    font-weight: 300;
}

.epilog {
    font-size: 1px;
    color: white;
}
